# Ignore eclipse .project files
.cproject
.project

# Ignore builds
bin/
build/
lib/

# Ignore recorded pictures
frames/

# Ignore system specific libraries
libraries/

# Ignore generated doxygen (for now)
docs/html/

# Ignore valgrind info
valgrind*

# Ignore settings
.settings/
