Package: tsgl
Version: 2.1~focal1
Architecture: amd64
Maintainer: Ryan Vreeke <rvreeke0229@gmail.com>
Depends: libc6 (>= 2.31), libgcc1 (>= 1:10.2.0), libstdc++6 (>= 10.2.0), libglfw3, libglfw3-dev, libfreetype6, libfreetype6-dev, libglew-dev, libxrandrdev, doxygen, libglm-dev, devscripts, build-essential, texlive-font-utils, libstb-dev
Section: libs
Priority: optional
Description: A Thread-Safe Graphics Library from https://github.com/Calvin-CS/TSGL/
